@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/* @import './responsive.css'; */

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Inter', sans-serif;
}

.container,
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

html, body {
  overflow-x: hidden;
}

/* navbar */
.navbar {
  padding: 2vh 5vw;
  background-color: #090923;
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar .navbar-collapse ul li a {
  font-size: 14px;
}

.navbar .navbar-collapse .btn {
  font-size: 14px;
}

/* hero section */
.fluid-padding {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 100px;
  /* padding-bottom: 100px; */
}

.hero-section {
  background-color: #090923;
  color: #FFFFFF;
  padding: 20vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  text-align: left;
}

.hero-section div p {
  color: #FFFFFF80;
  font-size: 1rem;
  text-align: left;
}

.hero-section div h1 {
  font-weight: 500;
  font-size: 4vw;
  max-width: 100%;
  text-align: left;
}

.hero-section div .hero-text {
  font-size: 1.1rem;
  max-width: 600px;
  text-align: left;
}

.hero-section .hero-div-btn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.hero-section .hero-btn {
  background-color: #5A44FF;
  border-radius: 999px;
  padding: 0.8rem 1.5rem;
  color: #FFFFFF;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-section .hero-btn:hover {
  background-color: #4836d6;
  color: white;
}

.hero-section .cyber-bg {
  position: relative;
  width: 40vw;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  background: radial-gradient(circle at center,
      rgba(124, 109, 238, 0.3),
      rgba(57, 57, 146, 0.3));
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 80px rgba(124, 109, 238, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.hero-section .cyber-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#cbc7e7 1px, transparent 1px);
  background-size: 10px 10px;
  opacity: 0.4;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 0 80px rgba(124, 109, 238, 0.4);
}

.hero-section .cyber-bg::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 60%;
  background: radial-gradient(circle, rgba(0, 119, 255, 0.2), transparent);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.hero-section .center-img {
  position: relative;
  z-index: 3;
  /* width: 60px; */
  max-width: 100%;
  /* height: 50px; */
}

.scroll-banner {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  /* background: #fff; */
}

.scroll-track {
  display: flex;
  width: max-content;
  gap: 40px;
  animation: scroll-left 40s linear infinite;
  align-items: center;
}

.scroll-track img {
  height: 60px;
  width: auto;
  object-fit: contain;
}

/* Animation for continuous scroll */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* remediation */
.warning {
  color: #5A44FF;
}

.remidiation-section {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  margin-top: -50px;
  background-color: white;
}

.remidiation-section h2 {
  font-size: 45px;
}

.remidiation-cards {
  padding-top: 100px;
}

.remidiation-cards h5 {
  font-size: 26px;
}

.result-row {
  padding-top: 80px;
}

.result-box {
  background-color: rgba(179, 178, 178, 0.3);
  border: 1px solid #FFFFFF33;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 188px;
  width: 440px;
}

.result-box .btn {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 999px;
  padding: 7px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Our Approach to Quick Remediation */
.our-approach-top {
  height: 90px;
  background-color: rgba(21, 21, 29, 1);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.our-approach-box {
  background: linear-gradient(180deg, #18181F 0%, #090913 100%);
  /* height: 2000px; */
}

.our-approach-box p {
  color: rgba(183, 174, 255, 1);
}

.our-approach-box h1 {
  color: white;
  font-size: 50px;
}

.card-top-bg {
  background: linear-gradient(107.2deg, #28282F 1.06%, #090913 99.51%);
  width: 464px;
  height: 280px;
  border-radius: 8px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 220px;
  column-gap: 70px;
  padding-bottom: 130px;
}

.card-fixed {
  width: 464px;
  height: 280px;
  border-radius: 8px;
}

.card-top-bg img {
  max-height: 80px;
  margin-bottom: 15px;
}

.card-wrapper .card-fixed p {
  color: rgba(255, 255, 255, 0.5)
}

.our-approach-bottom {
  height: 90px;
  background-color: rgba(11, 11, 21, 1);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

/* automation */
.automation {
  position: relative;
  overflow: hidden;
  /* padding: 60px 0; */
}

.automation-glow {
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 130px;
  height: 130px;
  background: rgba(90, 68, 255, 1);
  filter: blur(70px);
  z-index: 0;
  transform: translateX(-50%);
}

.automation .automation-para {
  color: rgba(0, 0, 0, 0.6);
}

.automation ul li {
  color: rgba(0, 0, 0, 0.87);
}

.automation-list {
  list-style: none;
  padding-left: 0;
}

.automation-list li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  line-height: 1.5;
}

.automation-list li::before {
  content: '✔';
  position: absolute;
  left: 0;
  top: 4px;
  width: 16px;
  height: 16px;
  background-color: black;
  color: rgba(90, 68, 255, 1);
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
}

/* insights */
.insight-icon {
  color: rgba(24, 0, 205, 1);
}

.insights-card {
  border-radius: 24px;
  overflow: hidden;
}

.insights-card .insights-detail {
  font-size: 12px;
  line-height: 30px;
}

.insights-card .with-dot::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50%;
  margin-right: 12px;
  /* spacing between dot and text */
  vertical-align: middle;
}

.insights-card .insights-para {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.insights-date {
  color: rgba(0, 0, 0, 0.6);
}

.insights-name {
  color: rgba(90, 68, 255, 1);
}

.insights-card h4 {
  color: rgba(0, 0, 0, 0.87);
}

/* Our vetting process */
.vetting {
  background-color: rgba(9, 9, 19, 1);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  position: relative;
  padding-bottom: 100px;
  /* overflow: hidden;  */
}

.vetting-icon {
  color: rgba(183, 174, 255, 1);
  font-size: 14px;
}

.vetting-head {
  color: rgba(255, 255, 255, 1);
}

.process-step-wrapper {
  padding-bottom: 300px;
}

.step-number {
  width: 40px;
  height: 40px;
  background-color: #bca7f2;
  color: black;
  font-weight: bold;
  border-radius: 50%;
  margin: 0 auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.step-title {
  font-size: 23px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.step-desc {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

/* Dashed lines between steps */
.step {
  position: relative;
}

.dashed-line {
  position: absolute;
  top: 20px;
  right: -50%;
  width: 100%;
  height: 2px;
  border-top: 2px dashed rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.purple-glow {
  position: absolute;
  top: 120px;
  left: -200px;
  width: 270px;
  height: 100px;
  background: rgba(90, 68, 255, 1);
  filter: blur(120px);
  z-index: 0;
}

.bottom-glow {
  position: absolute;
  /* bottom: -50px; */
  top: 450px;
  left: 59%;
  width: 200px;
  height: 200px;
  background: rgba(90, 68, 255, 1);
  filter: blur(110px);
  transform: translateX(-50%);
  z-index: 0;
}

.fix-card {
  background-color: rgba(20, 20, 27, 1);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.fix-card h1 {
  /* font-size: 44px; */
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}

.fix-card p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}

.fix-card .btn {
  font-size: 0.95rem;
  padding: 10px 25px;
}

.start-fixing-glow {
  position: absolute;
  top: 200px;
  left: 40px;
  width: 200px;
  height: 200px;
  background: rgba(90, 68, 255, 1);
  filter: blur(120px);
  z-index: 0;
}

/* footer */
.footer {
  background: linear-gradient(180deg, #18181E 0%, #18181E 100%);
}

.footer p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.iso-logo {
  width: 80px;
  height: 80px;
}

.footer ul li {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
}

/* stepper */
.stepper-btn {
  background-color: rgba(90, 68, 255, 1);
  color: white;
  padding: 5px 40px;
}

.stepper-btn:hover {
  background-color: rgb(114, 96, 252);
  color: white;
}

/* location */
.welcome-bg {
  background-color: #F6F6F8;
  border-radius: 24px;
}

.welcome-head {
  font-size: 44px;
}

.welcome-subhead {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.location-card {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.06);
  border-radius: 24px;
}

.location-icon {
  background-color: rgba(242, 242, 246, 1);
  border-radius: 50%;
  height: 42px;
  width: 42px;
}

.rounded-input {
  border-radius: 32px;
  padding: 10px 20px;
}

.add-location-btn {
  background-color: rgb(145, 140, 187);
}

.add-location-btn:hover {
  background-color: rgba(90, 68, 255, 1);
  color: white;
}

.location-subtext {
  font-size: 13px;
}

.add-users {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.06);
}

.upload-btn {
  border: 2px solid rgb(145, 140, 187);
  color: rgb(145, 140, 187);
  border-radius: 32px;
  padding: 8px 24px;
  background-color: transparent;
  font-weight: 500;
  transition: all 0.3s ease;
}

.upload-btn:hover {
  border: 2px solid rgba(90, 68, 255, 1);
  color: rgba(90, 68, 255, 1);
}

.rounded-select .vs__dropdown-toggle {
  border-radius: 32px;
  padding: 22px 20px;
  display: flex;
  align-items: center;
  color: #525457;
}

.rounded-select .vs__dropdown-menu {
  border-radius: 15px;
  font-size: 16px;
  padding: 10px 15px;
}

.search-input {
  border-radius: 32px;
  font-size: 16px;
  padding: 12px 20px;
}

.thead-bg th {
  background-color: rgba(246, 246, 248, 1);
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.users-table td {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-weight: 500;
}

.team-tab {
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 5px;
  transition: background-color 0.3s;
}

.team-tab:hover {
  background-color: rgba(90, 68, 255, 0.1);
}

.team-tab.active {
  background-color: rgba(90, 68, 255, 0.1);
  font-weight: 500;
  color: #5a44ff;
}

.fixed-table {
  table-layout: fixed;
  width: 100%;
}

.col-role {
  width: 25%;
}

.col-member {
  width: 40%;
}

.col-location {
  width: 35%;
}

.rounded-input-form {
  border-radius: 4px;
  height: 40px;
}

.input-group span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.info-icon {
  cursor: pointer;
  width: 20px;
}

.custom-popover {
  position: absolute;
  top: -27px;
  left: 50px;
  background-color: white;
  border-radius: 8px;
  padding: 12px 16px;
  width: 260px;
  height: 150px;
  z-index: 1000;
  border: 1px solid rgb(236, 234, 234);
}

.popover-content {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 2px;
  right: 6px;
  cursor: pointer;
  font-size: 20px;
  color: #888;
}

.popover-arrow {
  position: absolute;
  top: 15px;
  left: -6px;
  width: 12px;
  height: 12px;
  background: white;
  border-bottom: 1px solid rgb(236, 234, 234);
  border-left: 1px solid rgb(236, 234, 234);
  transform: rotate(45deg);
  z-index: -1;
}

.upload-report-btn {
  color: rgb(145, 140, 187);
  background-color: rgba(238, 235, 255, 1);
  border-radius: 50%;
  padding: 10px 10px;
  width: 60px;
  height: 60px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.upload-report-btn:hover {
  border: 2px solid rgb(145, 140, 187);
  color: rgb(145, 140, 187);
  background-color: rgba(238, 235, 255, 1);
}


/* Dashboard */
.dashboard-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}


.sidebar {
  background-color: rgba(246, 246, 248, 1);
  height: 1100px;
}

.sidebar-dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.bi-house-door {
  color: rgba(49, 33, 177, 1);
}

.circle-logo {
  width: 30px;
  height: 30px;
  background-color: #0047ab;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-bottom {
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flipped-info-icon {
  display: inline-block;
  transform: rotate(180deg);
}

.pending-approval-btn {
  background-color: rgba(236, 233, 254, 1);
  border: none;
  color: rgba(0, 0, 0, 1);
  padding: 8px 18px;
}

.pending-approval-btn:hover {
  background-color: rgb(217, 213, 243);
  color: rgba(0, 0, 0, 1);
}

.pending-approval-btn i {
  color: rgba(49, 33, 177, 1);
}

.assets-icon {
  background-color: rgba(206, 199, 255, 1);
  color: rgba(13, 0, 119, 1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.assets-para {
  color: rgba(0, 0, 0, 0.6);
  font-style: 15px;
}

.text-212 {
  color: rgba(0, 0, 0, 1);
  font-size: 60px;
}

.divider-vertical {
  border-left: 1px solid #ddd;
  height: 100%;
}

.vul-bar {
  width: 120px;
}

.bar {
  height: 4px;
  border-radius: 10px;
}

.bar.red {
  background-color: darkred;
}

.bar.yellow {
  background-color: goldenrod;
}

.bar.green {
  background-color: green;
}

.text-78 {
  font-size: 40px;
  color: rgba(0, 0, 0, 1);
}

.patch-btn {
  border: 1px solid #0000001F;
  color: rgba(0, 0, 0, 1);
  height: 32px;
  padding: 12px 12px;
  line-height: 1;
  font-size: 0.875rem;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  margin-top: 5px;
}

.patch-btn:hover {
  border: 1px solid #0000001F;
  background-color: rgba(206, 199, 255, 1);
}

.patch-btn i {
  font-size: 1rem;
  vertical-align: middle;
  margin-left: 8px;
}

.estimated-text {
  color: rgba(0, 0, 0, 0.6);
}

.estimated-text span {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}

.fix-para {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  font-size: 20px;
}

.num-value {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 500;
}

.assign-head {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 500;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
}

.avatar.ava-green {
  background-color: #e6ffe6;
  color: green;
}

.avatar.ava-blue {
  background-color: #d4ebff;
  color: #004080;
}

.avatar.ava-yellow {
  background-color: #ffffcc;
  color: #666600;
}

.avatar.ava-pink {
  background-color: #ffd6f0;
  color: #cc0066;
}

.avatar.ava-black {
  background-color: #000;
  color: #fff;
}

.status-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
}

.text-blue {
  color: rgba(49, 33, 177, 1);
  font-weight: 600;
  font-size: 15px;
}

.fix-now span {
  color: rgba(49, 33, 177, 1);
  font-weight: 600;
  font-size: 15px;
}

.text-blue:hover {
  color: rgba(49, 33, 177, 1);
  font-weight: 600;
  font-size: 15px;
}

.done {
  display: flex;
  align-items: center;
  gap: 5px;
}

.check-icon {
  border: 1.5px solid #000;
  border-radius: 50%;
  padding: 2px;
  width: 16px;
  height: 16px;
  font-size: 10px;
  text-align: center;
  line-height: 12px;
}

.done-text {
  font-weight: 500;
  color: #000;
}

/* signup */
.form-control {
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(105, 108, 255, 0.25);
}

.btn-google {
  border: 1px solid #ddd;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.87);
  width: 200px;
}

.btn-microsoft {
  border: 1px solid #ddd;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.87);
  width: 250px;
}

.btn-vaptfix {
  background-color: #422CE9;
  color: #fff;
  border: none;
  border-radius: 50px;
}

.btn-vaptfix:hover {
  background-color: #1c09ab;
  color: #fff;
}

.form-heading {
  font-weight: 500;
  font-size: 40px;
  color: #000000;
}

.form-subheading {
  color: #00000099;
  font-size: 14px;
}

.form-label {
  font-weight: 500;
}

/* signin */
.signup-link {
  color: #422CE9;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
.menu-heading {
  font-size: 13px;
  color: rgba(83, 83, 95, 1);
}

.mitigation-popover {
  position: absolute;
  top: 26px;
  left: 270px;
  background-color: rgba(9, 9, 19, 1);
  color: white;
  border-radius: 8px;
  padding: 12px 16px;
  width: 300px;
  height: 180px;
  z-index: 1000;
  border: 1px solid rgb(236, 234, 234);
} 

.mitigation-popover-arrow {
  position: absolute;
  top: 15px;
  left: -6px;
  width: 12px;
  height: 12px;
  background: rgba(9, 9, 19, 1);
  border-bottom: 1px solid rgba(9, 9, 19, 1);
  border-left: 1px solid rgba(9, 9, 19, 1);
  transform: rotate(45deg);
  z-index: -1;
}

.mitigation-close-btn {
  position: absolute;
  top: -5px;
  right: 6px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

/* vulnerabiltity explorer */
.vulnerability-explorer {
  background: linear-gradient(180deg, #FFFFFF 0%, #F6F6F6 100%);
}


.vuln-exp-heading {
  font-size: 48px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}

.vuln-exp-subhead {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

/* pricing page */
.pricing-card-subhead {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 15px;
}