 /* @import './base.css'; */



/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.hero-section {
  background-color: #090923;
  color: #FFFFFF;
  padding-top: 50px;
  padding-bottom: 99px;
  padding-left: 64px;
}

.hero-section div p {
  color: #FFFFFF80;
  font-size: 14px;
}

.hero-section div h1 {
  font-weight: 500;
  font-size: 68px;
  /* line-height: 80px;
  letter-spacing: -4%; */
}

.hero-section div .hero-text {
  font-size: 16px;
}

.hero-section .hero-btn {
  background-color: #5A44FF;
  border-radius: 999px; 
  padding: 10px 24px;
  color: #FFFFFF;
}

.hero-section .cyber-bg {
  position: relative;
  width: 100%;
  height: 500px;
  background: radial-gradient(
    circle at center,
    rgba(124, 109, 238, 0.3),
    rgba(57, 57, 146, 0.3)
  );
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 80px rgba(124, 109, 238, 0.4);
}

.hero-section .cyber-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#cbc7e7 1px, transparent 1px);
  background-size: 10px 10px; 
  opacity: 0.4;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 0 80px rgba(124, 109, 238, 0.4);
}

.hero-section .cyber-bg::after {
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(0, 119, 255, 0.2), transparent);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  
}

.hero-section .center-img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  height: auto;
}
