
/* iPad Pro */
@media (max-width: 1200px) {
  .hero-section div h1 {
    font-size: 6vw;
  }

  .hero-section .cyber-bg {
    width: 45vw;
  }

  .card-fixed {
    width: 364px;
    height: 200px; 
  }

  .card-top-bg {
    width: 364px;
    height: 200px; 
  }

  .card-wrapper {
    row-gap: 240px;
    column-gap: 70px;
  }

}

/* iPad Air */
@media (max-width: 992px) {
  .hero-section {
    padding: 12vh 4vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-section div h1 {
    font-size: 7vw;
  }

  .hero-section .cyber-bg {
    width: 60vw;
  }

  .result-box {
    height: 188px;
    width: 330px; 
  }

  .card-fixed {
    width: 300px;
    height: 200px; 
  }

  .card-top-bg {
    width: 300px;
    height: 200px; 
  }

  .card-wrapper {
    row-gap: 270px;
    column-gap: 70px;
  }

}

/* iPad Mini */
@media (max-width: 768px) {
    .navbar-collapse {
        padding-top: 20px;   
    }

    .navbar-btn {
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .hero-section div h1 {
        font-size: 8vw;
    }

    .hero-section .cyber-bg {
        width: 70vw;
        margin-top: 40px;
    }

    .fluid-padding {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 70px;
        /* padding-bottom: 70px;  */
    }

    .remidiation-cards {
        padding-top: 50px;
    }

    .result-row {
        padding-top: 50px;
    }

    .result-box {
        height: 188px;
        width: 340px; 
    }

    .our-approach-box h1 {
        font-size: 35px;
    }

    .card-fixed {
    width: 300px;
    height: 200px; 
  }

  .card-top-bg {
    width: 300px;
    height: 200px; 
  }

  .card-wrapper {
    row-gap: 280px;
    column-gap: 70px;
  }

}

/* Samsung Galaxy S8+ */
@media (max-width: 576px) {
  .hero-section {
    padding: 14vh 3vw;
  }

  .hero-section div h1 {
    font-size: 10vw;
  }

  .hero-section .hero-text {
    font-size: 0.95rem;
  }

  .hero-section .cyber-bg {
    width: 80vw;
    margin-top: 40px;
  }

  .fluid-padding {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 40px;
        /* padding-bottom: 40px;  */
    }
    .remidiation-section h2 {
        font-size: 30px;
    }

    .remidiation-cards {
        padding-top: 30px;
    }

    .remidiation-cards h5 {
        font-size: 22px;
    }

    .result-row {
        padding-top: 30px;
    }

    .result-box {
        height: 188px;
        width: 300px; 
    }

    .result-box .btn {
        padding: 6px 5px;
    }

    .our-approach-box h1 {
        font-size: 25px;
    }

    .card-wrapper {
      row-gap: 210px;
      /* column-gap: 70px; */
  }



}